* {
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
}

#botao {
    display: flex;
    justify-content: center;
    transform-style: preserve-3d;
    transition: all .2s;
}

.frente {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
}

#frente {
    background-color: rgb(0, 135, 212);
    transform: rotateY(180deg);
}

#costas {
    background-color: rgb(0, 56, 88);
}

.girar {
    transform: rotateY(180deg);
}

